<template>
<div class="relative" v-if="visible">
    <img :src="dataImg.url" class="max-h-3xs border border-solid border-grey mr-2">
    <div class="rounded-full bg-white h-6 w-6 absolute pin-t pin-r"></div>
    <svg class="h-6 w-6 absolute pin-t pin-r cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" ref="delete" @click="deleteImage">
        <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zM11.4 10l2.83-2.83-1.41-1.41L10 8.59 7.17 5.76 5.76 7.17 8.59 10l-2.83 2.83 1.41 1.41L10 11.41l2.83 2.83 1.41-1.41L11.41 10z"/>
    </svg>
</div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      visible: true
    };
  },

  props: ["data-img"],

  methods: {
    deleteImage() {
      axios
        .delete(`/drafting/media/${this.dataImg.id}`)
        .then(() => (this.visible = false));
    }
  }
};
</script>
