<template>
<div class="flex items-center">
    <label for="images[]" class="block text-teal-darkest border-2 border-teal bg-white rounded text-center p-2 md:mx-4 relative cursor-pointer hover:bg-grey-light">
        <input type="file" id="images[]" name="images[]" class="absolute opacity-0 text-0" multiple @change="filesSelected">
        <span>Attach</span>
    </label>
    <div class="flex flex-no-wrap overflow-x-scroll">
      <img v-for="image in images" :src="image.blob" :key="image.id" class="max-h-3xs border border-solid border-grey mr-2"></img>
    </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      images: []
    };
  },

  methods: {
    filesSelected(event) {
      this.images = [];

      let fileList = Array.from(event.target.files);

      fileList.forEach((file, index) => {
        this.images.push({
          id: index,
          blob: URL.createObjectURL(file)
        });

        URL.revokeObjectURL(file);
      });
    }
  }
};
</script>
