<template>
    <div :class="wrapperClasses">
        <textarea :id="id" :name="name" :class="classes" ref="textarea">
            {{ this.value }}
        </textarea>
    </div>
</template>

<script>
    import MediumEditor from 'medium-editor'

    export default({
        data() {
            return {
                editor: {},
            }
        },

        props: ['id', 'name', 'classes', 'wrapperClasses', 'value'],

        mounted() {
            this.editor = new MediumEditor(this.$refs.textarea);
        }
    })
</script>
