<template>
<nav class="fixed ml-8 z-10 w-32 mt-24 leading-loose hidden md:block">
    <ul class="list-reset">
        <li v-for="category in dataCategories" class="group text-grey-darker font-bold mb-6"><span v-text="category.name"></span>
            <ul class="list-reset hidden group-hover:block">
                <li v-for="project in category.projects" class="font-normal">
                    <a :href="project.slug" :class="['no-underline', 'text-grey-dark', 'hover:bg-yellow', projectLinkColor(project)]" v-text="project.title"></a>
                </li>
            </ul>
        <li><a href="/about" :class="['no-underline', 'text-grey-dark', 'hover:underline', aboutLinkColor]">about</a></li>
    </ul>
</nav>
</template>

<script>
    export default {
        props: ['data-categories', 'data-project-id'],

        methods: {
            projectLinkColor(project) {
                return project.id == this.dataProjectId ? 'bg-green-lighter' : ''
            }
        },

        computed: {
            aboutLinkColor() {
                return this.dataProjectId.length === 0  ? 'bg-green-lighter' : ''
            }
        }
    }
</script>
